<div class="container">
    <div class="row mt-3">
        <div class="col-12 text-center">
            <button class="btn btn-primary">
                Add New Order
            </button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th [width]="20">Table Number</th>
                        <th [width]="60">Order</th>
                        <th [width]="20">Bill</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>